#photo {
background-image: url("images/Florent.JPG");
background-size: 122%;
background-repeat: no-repeat;
width: 128%;
height: 283px;}

#photo div{
position: relative;
top: 163px;
left: 79px;
font-size: 14px;}

#photo h1{margin-bottom: 0px;}

.logo_aside{
width: 24%;
height: 100%;
display: flex;
justify-content: center;
background-color: var(--couleur-tx-aside);}

.texte_aside{
width: 76%;
height: 100%;
background-color:var(--couleur-tx-aside);}

.texte_aside p{
margin-top: 5px;
margin-bottom: 10px;}

progress{
width: 78%;
height: 6px;
color: #e11919;
background-color: var(--couleur-valeur-progress);
border: none;
margin-bottom: 26px;}
