
:root{
--couleur-bg-html: black;
--couleur-bg-aside: #5da4d9;
--couleur-tx-aside: #5da4d9;
--couleur-bordure: #cecece;
--couleur-icones-interets: #5da4d9;
--couleur-tx-main: #777;
--couleur-bg-tx-main:white;
--couleur-bg-croix: #cecece;
--couleur-ombre: #090704cc;
--couleur-date: #5da4d9;
--couleur-valeur-progress:#f8f8f8b3;
--couleur-barre-aside:#5875f299;
--couleur-barre-main:#4141414d;
}


html {
display: flex;
justify-content: center;
background-color: var(--couleur-bg-html);
transform: scale(0.1);
margin-top: -268px;

}

body {
visibility:hidden;
margin-top: 100px;
width: 1036px;
background-color: var(--couleur-bordure);
height: 1278px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Times New Roman", Times, serif;}

#article {
background-color: var(--couleur-bg-croix);
display: flex;
justify-content: center;
align-items: center;
width: 99%;
height: 99%;}

aside {
visibility:hidden;
width: 33%;
height: 100%;
display: flex;
justify-content: space-between;
flex-direction: column;
background-color: var(--couleur-bg-aside);
margin-right: 20px;
box-shadow: 3px 3px 8px 0px var(--couleur-ombre);
color:white;}

aside i {
font-size: 20px;
margin: 10px;}

aside hr {color:var(--couleur-barre-aside);}

main {
visibility:hidden;
display: flex;
align-items: center;
flex-direction: column;
width: 67%;
height: 100%;
color: var(--couleur-tx-main);}

main i {
font-size: 35px;
margin: 10px;}

main hr {color:var(--couleur-barre-main);}

p{
font-size: 15px;
line-height: 23px;
margin-top: 8px;}

h1{
margin-bottom: 23px;}

h2{
margin-top: 7px;
margin-bottom: 46px;}

h4{
margin-bottom: 0px;
margin-top: 10px;}

.dispatch_aside{
width: 100%;
display: flex;
justify-content: center;
background-color: var(--couleur-tx-aside);}

.dispatch_hr{
width: 100%;
display: flex;
justify-content: center;
background-color: var(--couleur-bg-aside);}

.dispatch_main{
visibility:hidden;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
margin-bottom: 20px;
box-shadow: 3px 3px 8px 0px var(--couleur-ombre);}
