.logo_main{
width: 14%;
height: 100%;
display: flex;
justify-content: center;
background-color: var(--couleur-bg-tx-main);}

.logo_main i{margin-top: 27px;}

.texte_main{
width: 90%;
height: 100%;
background-color: var(--couleur-bg-tx-main);
display: flex;
flex-direction: column;
justify-content: space-around;}

.texte_bleu{
font-weight: lighter;
color: var(--couleur-date);}

#interestes{
visibility:hidden;
display: flex;
align-items: center;
width: 100%;
height: 36.333%;
background-color: green;
display: flex;
justify-content: center;
box-shadow: 3px 3px 8px 0px var(--couleur-ombre);}

#icones{
display: flex;
justify-content: start;
align-items: center;
color: var(--couleur-icones-interets);}

#icones i{margin-right: 11%;}
